@charset "utf-8";
@import 'partial/normalize';

@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Raleway:200);
body {
//	background: rgba(236, 240, 241, 1);
	color: rgba(44, 62, 80, 1);
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height: 1.7;
}
a {
	color: rgba(52, 152, 219, 1);
	color: rgba(25, 181, 254, 1);
}


.title {
	margin: 35px 0 45px;
	color: white;
	font-size: 5rem;
	text-align: center;
	font-weight: normal;
	line-height: 1;
}
.title_font {
	font-family: 'Monoton', cursive;
	color: rgba(26, 188, 156, 1);
}
.title_date {
	display: block;
	font-size: 1rem;
}

#contents_head {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 10px;
	width: 300px;
	height: 100%;
	background: rgba(189, 195, 199, 1);
}

.agenda {
	ul {
		padding: 0 25px;
		margin-bottom: 15px;
		line-height: 1.3;
	}
	li {
		list-style: none;
		margin-bottom: 5px;
		font-weight: bold;
		li {
			//padding-left: 10px;
			font-weight: normal;
		}
	}
	a {
		color: #333333;
		text-decoration: none;
	}
}

#contents {
	padding: 0 20px 0 10px;
	margin-left: 330px;
}

article {
	padding: 10px 0 50px;
	h2 {
		position: relative;
		border-bottom: solid 2px rgba(41, 128, 185, 1);
		color: rgba(41, 128, 185, 1);
		font-size: 2.5rem;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;
	}
	h3 {
		font-size: 2rem;
		margin-bottom: 5px;
	}
	h4 {
		color: #808080;
		border-bottom: dotted 1px #666666;
		font-size: 1.5rem;
	}
	dd {
		margin: 0;
	}
}
section {
	margin-bottom: 50px;
}
.box {
	margin-bottom: 50px;
}

.syntax_css {
	padding: 15px 20px;
	background: rgba(236, 240, 241, 1);
	color: rgba(241, 196, 15, 1);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	line-height: 1.2;

	.comment { color: rgba(180, 180, 180, 1); }
	.selecter { color: rgba(155, 89, 182, 1); }
	.propaty { color: rgba(230, 126, 34, 1); }
	.value { color: rgba(52, 152, 219, 1); }
	.sass_propaty { color: rgba(231, 76, 60, 1); }
	.sass_value { color: rgba(46, 204, 113, 1); }
}
